.hero {
  background:
    linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
    url("../images/flag.jpg");
  background-size: cover;
  background-position: center;
  height: 90vh;
  display: flex;
  align-items: center;
}

.importance {
  background:
    linear-gradient(rgba(255,255,255,0.85), rgba(255,255,255,0.85)),
    url("../images/election.png");
  background-size: cover;
  background-position: center;
}